.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.label {
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.button:default {
    -fx-base: -fx-accent;
}

#startButton {
    -fx-font-size: 20pt;
    -fx-pref-width: 100pt;
    -fx-background-color: #000051;
}

#startButton:hover {
    -fx-background-color: #534bae;
}

#homePage {
    -fx-background-image: url("constellation.png");
}

#title {
    -fx-font-size: 100pt;
    -fx-fill: white;
}

#welcomeMessage {
    -fx-font-size: 20pt;
    -fx-fill: white;
    -fx-background-color: black;
}

#infoBar {
    -fx-padding: 4;
    -fx-background-color: #373e43;
}

#fovDisplay {
    -fx-fill: white;
}

#objectInfo {
    -fx-fill: white;
}

#mousePos {
    -fx-fill: white;
}

#cityComboBox {
    -fx-pref-width: 180;
}

#tf {
    -fx-pref-width: 60;
    -fx-alignment: baseline-right;
}

#whereControl {
    -fx-spacing: inherit;
    -fx-alignment: baseline-left;
}

#datePicker {
    -fx-pref-width: 120;
}

#timeField {
    -fx-pref-width: 75;
    -fx-alignment: baseline-right;
}

#zoneIdComboBox {
    -fx-pref-width: 180;
}

#whenControl {
    -fx-spacing: inherit;
}

#timeFlowControl {
    -fx-spacing: inherit;
}

#controlBar {
    -fx-spacing: 4;
    -fx-padding: 4;
    -fx-background-color: #373e43;
}

#settingsBar {
    -fx-spacing: 4;
    -fx-padding: 4;
}

#settingsText {
    -fx-fill: white;
}

#fovSliderText {
    -fx-fill: white;
}

#citySelectionText {
    -fx-fill: white;
}